main.decksAndCards {
    @apply fixed w-full h-full top-0 flex justify-center items-center py-24;
    background-image: url("../../assets/background/decks_and_cards_bg.jpg");
    box-shadow: black inset 0 0 100px 20px;

    & > * {
        @apply h-full;
    }

    .selectPanel{
        @apply w-fit h-full p-4;
        background-image: url("../../assets/background/deck_select_panel_bg.jpg");

        & > div {
            @apply flex flex-col w-fit h-full p-2.5 gap-2.5 relative rounded-md;
            animation: bgTransition 5s linear forwards;
            box-shadow: black 0 0 8px 4px;

            & > button {
                z-index: 10;
            }

            &:after {
                @apply absolute top-0 left-0 w-full h-full rounded-md pointer-events-none;
                content: "";
                background-color: black;
                mask-image: url("../../assets/background/deck_select_panel_mask.png");
                background-image: linear-gradient(black 30%, transparent);
                mask-repeat: no-repeat;
                mask-position: center 105%;
            }

            &:before {
                @apply absolute top-0 left-0 w-full h-full rounded-md pointer-events-none;
                content: "";
                background-image: linear-gradient(black 30%, transparent);
                box-shadow: black inset 0 0 10px 2px;
            }
        }
    }

    .deckButton {
        @apply flex flex-col justify-between text-left;
        --color: grey;
        width: 216px;
        background-color: black;

        & > h1 {
            @apply text-2xl font-amarante p-2.5;
            color: var(--color);
            text-shadow: 0 0 10px black;
        }

        & > div {
            @apply p-2.5 items-end;
            display: none;
            background-image: linear-gradient(transparent, black);
            height: 70%;

            & p {
                color: white;
                text-shadow: 0 0 4px black;
            }
        }
    }

    .selected .deckButton {
        animation: opening 0.2s linear forwards;

        & > div {
            display: flex;
        }
    }
}

.venom{
    --color: var(--venom-1) !important;
}
.deckButton.venom {
    background-image: url("../../assets/decks/venom.jpg");
    background-size: 120%;
    background-position: 0 -30px;
}
.light{
    --color: var(--light-1) !important;
}
.deckButton.light{
    background-image: url("../../assets/decks/light.jpg");
    background-size: 100%;
}
.darkness{
    --color: var(--darkness-2) !important;
}
.deckButton.darkness {
    background-image: url("../../assets/decks/darkness.jpg");
    background-size: 100%;
}
@keyframes opening {
    from {
        height: 52px;
    }
    to {
        height: 216px;
    }
}
.opening {
    animation: opening 1s linear;
}

@keyframes bgTransition {
    0% {
        background-color: var(--prev-color);
    }
    50% {
        background-color: color-mix(in srgb ,var(--color), var(--prev-color));
    }
    100% {
        background-color: var(--color);
    }
}

.prevLight {
    --prev-color: var(--light-1);
}
.prevDarkness {
    --prev-color: var(--darkness-2);
}
.prevVenom {
    --prev-color: var(--venom-1);
}