.loadingScreen{
    @apply bg-neutral-900;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    --height: 10rem;
    --width: 10rem;

    & > div {
        position: relative;
        width: 10rem;
        height: 10rem;

        .logo {
            @apply aspect-square absolute top-1/2 left-1/2;
            width: var(--width);
            height: var(--height);
            transform: translate(-50%, -50%);
            background-image: url("../../assets/svg/logo.svg");
            background-size: 70%;
            background-position: center;
            background-repeat: no-repeat;
            filter: drop-shadow(0 0 5px goldenrod);
        }

        .loadingText {
            @apply flex absolute w-full justify-center animate-pulse text-2xl;
            color: grey;
            top: 150%;
        }

        .frameContentPlaceholer {
            height: var(--height);
            width: var(--width);
        }

        .spinningFrame {
            @apply absolute;
            filter: drop-shadow(0 0 4px black);
        }

        .typewriter {
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
            animation: typewriter 2s infinite;
        }
    }
}

.spin {
    animation: spin 3s linear infinite;
}

.reverseSpin {
    animation: spin 3s linear reverse infinite;
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes typewriter {
    0% {
        width: 0;
    }
    20% {
        width: 33.3333%;
    }
    40% {
        width: 66.6666%;
    }
    60% {
        width: 100%;
    }
}