.themeTitleDecoration {
    width: 100%;
    height: 2px;
    border-radius: 4px;
    content: "";
    background-image: linear-gradient(
            to right,
            goldenrod,
            transparent 80%
    );
}

main.rules {
    @apply absolute left-0 top-0 w-full h-full flex justify-center items-center bg-cover bg-center;
    background-image: url("../../assets/background/home_bg.jpg");

    .container {
        @apply flex flex-col gap-2 justify-between items-center p-4;
        width: calc(100vw - 208px);
        height: calc(100vh - 32px);

        .title {
            @apply gold-text text-4xl w-full inline-flex gap-4 justify-center items-center text-nowrap;
            filter: drop-shadow(0 0 2px goldenrod);

            &::after {
                @apply themeTitleDecoration;
            }

            &::before {
                @apply themeTitleDecoration;
                scale: -1 1;
            }
        }

        .content {
           @apply px-16 py-2 w-full flex-grow overflow-scroll text-justify;
            mask-image: linear-gradient(
                to bottom,
                transparent,
                black 8px,
                black calc(100% - 8px),
                transparent
            );
        }

        .themeSelect {
            @apply flex gap-4 text-2xl;

            & > ul {
                @apply flex h-full items-center gap-4;
                filter: drop-shadow(0 0 4px white);

                & > li {
                    @apply w-2 h-2 round;
                    background-color: grey;
                }

                & > li[data-value="true"] {
                    filter: drop-shadow(0 0 2px white);
                    scale: 1.2;
                    background-color: white;
                }
            }
        }
    }

    .backBtn {
        @apply absolute top-0 left-0 m-2 z-10 text-xl;
    }
}

.overview {
    @apply flex flex-col justify-center items-center gap-8;

    & > p {
        font-size: 1.1em;
        max-width: 640px;

        & i {
            @apply text-gold;
        }
    }


    & > ul {
        @apply flex justify-center items-center gap-4;
        filter: drop-shadow(0 4px 4px black);

        & > li {
            position: relative !important;
        }

        & > li:first-child {
            rotate: z -15deg;
            z-index: -1;
            translate: 25% 10%;
        }

        & > li:last-child {
            rotate: z 15deg;
            z-index: -1;
            translate: -25% 10%;
        }
    }
}

.turnSequence {
    @apply flex justify-center w-full;

    & > li {
        @apply flex-grow flex flex-col items-center gap-4 w-1/3 p-4;

        & > h1 {
            @apply text-2xl;
        }

        & > * {
            @apply w-fit;
        }
    }
}