.card {
    aspect-ratio: var(--card-aspect-ratio);
    border-radius: 4%;
    height: 25vh;
    font-size: 2.2vh;
    user-select: none;
    overflow: hidden;
}

.card::before, .card-back::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/svg/card_frame.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99%;
}

.contrast-shadow {
    filter: drop-shadow(0 0 1px goldenrod)
            drop-shadow(2px 2px 5px black)
            drop-shadow(-2px -2px 4px black)
            drop-shadow(-2px 2px 4px black)
            drop-shadow(2px -2px 4px black);
}

.hand-held-card {
    position: absolute;
    cursor: pointer;
}

.hand-held-card.cancel-inspect-hand-held-card {
    animation: cancel-inspect-hand-held-card 0.1s linear forwards;
}

.deployed-card {
    cursor: pointer;
}

.card img, .card-image-placeholder {
    border-radius: 10% 0 10% 10%;
    width: 100%;
    height: 100%;
}

.card-image-placeholder {
    background-color: rgba(0, 0, 0, 0.3);
}

.card-slot {
    position: relative;
}

.hand-held-card.inspect-hand-held-card {
    animation: inspect-hand-held-card 0.1s linear forwards;
}

.deploy-card-tip {
    position: absolute;
    z-index: 2;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
}

.hand-held-card:hover {
    z-index: 1;
    scale: 1.1;
    filter: drop-shadow(0 0 2px black) brightness(1.2);
}

@keyframes cancel-inspect-hand-held-card  {
    0% {
        rotate: 0deg;
        translate: 5vh -4vh;
        z-index: 100;
        scale: 1.6;
    }
    50% {
        translate: 2vh -2vh;
        z-index: 100;
        scale: 1.2;
    }
    100% {}
}

@keyframes inspect-hand-held-card  {
    0% {}
    50% {
        translate: 2vh -2vh;
        cursor: pointer;
        z-index: 100;
        scale: 1.2;
    }
    100% {
        rotate: 0deg;
        translate: 5vh -4vh;
        z-index: 100;
        scale: 1.6;
    }
}

.card-attribute-icon {
    position: absolute;
    z-index: 2;
    width: 1.6em;
    height: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    border-radius: 50%;
    border: 0.06em solid goldenrod;
}

.card-attribute-icon h1 {
    color: lightgrey;
    paint-order: stroke fill;
    -webkit-text-stroke: 0.08em black;
    font-size: 1.2em;
}

.card-name {
    position: absolute;
    z-index: 2;
    top: 4%;
    left: 20%;
    width: 68%;
    padding: 2px;
}

.card-name h1 {
    text-align: center;
    font-size: 0.64em;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6))
            drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.6))
            drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.6))
            drop-shadow(1px -1px 2px rgba(0, 0, 0, 0.6));
}

.card-attribute-icon.cost {
    top: 0;
    left: 0;
    background-size: 128%;
    background-image: url("../../../assets/icons/cost.jpg");
}
.card-attribute-icon.att {
    bottom: 0;
    left: 0;
    background-size: 192%;
    background-image: url("../../../assets/icons/att.jpg");
}
.card-attribute-icon.def {
    bottom: 0;
    right: 0;
    background-size: 108%;
    background-image: url("../../../assets/icons/def.jpg");
}

.card-abilities {
    position: absolute;
    bottom: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-block: 0.8em;
}

.card-abilities p {
    font-size: 0.48em;
    padding-block: 0.12em;
    width: 100%;
    position: relative;
    /*border: 0.12em solid;*/
    /*border-image: linear-gradient(to right, transparent, rgba(218, 165, 32, 0.7), transparent) 1;*/
}

.card-abilities p:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/background/card_back_bg.jpg");
    background-size: cover;
    opacity: 0.8;
}

.action-ability {
    filter: drop-shadow(0 0 4px red) drop-shadow(2px 2px 2px black);
    padding-inline: 0.8em;
}

.passive-ability {
    filter: drop-shadow(0 0 4px royalblue) drop-shadow(2px 2px 2px black);
    padding-inline: 0.8em;
}

.hand-held-card-wrapper {
    position: relative;
    height: 1px;
    width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back, .discarded-card {
    position: absolute;
}

.card-back::after {
    @apply contrast-shadow;
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/svg/logo.svg");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.card-back::before {
    @apply contrast-shadow;
}

.card-back div {
    position: absolute;
    aspect-ratio: 1/1;
    height: 300%;
    translate: -50% -50%;
    background-color: black;
    mask-image: url("../../../assets/background/card_back_mask.png");
    mask-repeat: repeat;
    mask-size: 16vh;
    mask-position: center;
}

.left-card-piles .card-back::after,
.left-card-piles .card-back::before,
.right-card-piles .card-back::after,
.right-card-piles .card-back::before {
    filter: drop-shadow(0 0 1px goldenrod)
            drop-shadow(0.4vh 0.4vh 2px black)
            drop-shadow(-0.4vh 0.4vh 2px black)
            drop-shadow(0.4vh -0.4vh 2px black)
            drop-shadow(-0.4vh -0.4vh 2px black)
            !important;
}

.card-small {
    position: relative;
    height: 28vh !important;
    font-size: 2.4vh !important;
}

.card-medium {
    position: relative;
    height: 34vh !important;
    font-size: 3vh !important;
}

.card-large {
    position: relative;
    height: 40vh !important;
    font-size: 3.6vh !important;
}

.card.selected {
    filter: drop-shadow(0 0 4px goldenrod);
}