.display {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8vw;
    top: 0;
    left: 50%;
    translate: -50% 0;
    padding: 2vh;
    width: 48vw;
}

.effectList {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.effectList:first-child {
    justify-content: flex-start;
}

.effectList:last-child {
    justify-content: flex-end;
}

.effect {
    width: 2.4vw;
    aspect-ratio: 1/1;
    border-radius: 0.4vw;
    position: relative;
    background-size: cover;
}

.effect p {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    translate: 0 100%;
    width: 200px;
    text-align: center;
    padding-block: 12px;
    padding-inline: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(
        8px 8px,
        calc(1.2vw - 4px) 8px,
        1.2vw 0,
        calc(1.2vw + 4px) 8px,
        calc(100% - 8px) 8px,
        calc(100% - 8px) calc(100% - 8px),
        8px calc(100% - 8px)
    );
}

.effect:hover p {
    visibility: visible;
}

.attribute.buff {
    background-image: url("../assets/icons/effect_icons/modifier/attribute_buff.jpg");
}

.attribute.debuff {
    background-image: url("../assets/icons/effect_icons/modifier/attribute_debuff.jpg");
}

.cost.buff {
    background-image: url("../assets/icons/effect_icons/modifier/attribute_buff.jpg");
}

.cost.debuff {
    background-image: url("../assets/icons/effect_icons/modifier/attribute_debuff.jpg");
}

.eventDriven.draw {
    background-image: url("../assets/icons/effect_icons/event_driven/draw.jpg");
}

.eventDriven.deploy {
    background-image: url("../assets/icons/effect_icons/event_driven/deploy.jpg");
}

.eventDriven.cardDeath {
    background-image: url("../assets/icons/effect_icons/event_driven/card_death.jpg");
}

.eventDriven.discard {
    background-image: url("../assets/icons/effect_icons/event_driven/discard.jpg");
}

.eventDriven.turn {
    background-image: url("../assets/icons/effect_icons/event_driven/turn.jpg");
}