.decorative-hex {
    aspect-ratio: 27/31;
    font-size: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @apply hex-frame;
}

.hex-frame::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--silver);
    clip-path: polygon(
            50% 0,
            100% 25%,
            100% 75%,
            50% 100%,
            0 75%,
            0 25%,
            50% 0,
            50% 2px,
            2px calc(25% + 1px),
            2px calc(75% - 1px),
            50% calc(100% - 2px),
            calc(100% - 2px) calc(75% - 1px),
            calc(100% - 2px) calc(25% + 1px),
            50% 2px
    );
}

.icon-btn:hover i {
    filter: drop-shadow(0 0 2px goldenrod);
    animation: pulse 1.5s ease-in-out infinite;
}

.deactivated.icon-btn:hover i {
    filter: drop-shadow(0 0 2px black);
    animation: pulse 1.5s ease-in-out infinite;
}

.icon-btn i {
    display: block;
    width: fit-content;
}

.icon-btn, .framed-button {
    color: goldenrod;
    font-weight: 500;
}

.negative-btn {
    color: red;
}

.deactivated {
    color: dimgrey !important;
}

.close-btn-container {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .negative-btn {
        color: goldenrod !important;
    }
}

@keyframes shade-bg {
    from {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent 20%, transparent 80%, rgba(0, 0, 0, 0.1));
    }
    to {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) );
    }
}

.framed-button:hover span {
    background-color: rgba(0, 0, 0, 0.1);
}

button:active {
    transform: scale(0.99);
    filter: brightness(1.2);
}

.framed-button:hover label {
    filter: drop-shadow(0 0 4px goldenrod);
}

.framed-button:hover label.negative-btn {
    filter: drop-shadow(0 0 4px red) !important;
}

.framed-button:hover .inner-frame-container div {
    animation: connect-borders 0.4s ease forwards;
}

@keyframes connect-borders {
    from {
        width: 30px;
    }
    to {
        width: 104px;
    }
}

@keyframes disconnect-borders {
    from {
        width: 104px;
    }
    to {
        width: 30px;
    }
}

.loading::before {
    animation: loading 1s ease 0.5s infinite;
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--silver);
    clip-path: polygon(0 100%, 50% 50%, 100% 100%, 100% 0, 0 0);
    animation: rotate 1s linear infinite;
}

/*---multiple options button---*/

.multipleOptionsBtnList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.multipleOptionsBtnList li {
    font-size: 1.4em;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.multipleOptionsBtnList li:hover .hint {
    visibility: visible;
}

.multipleOptionsBtnList li .hint {
    visibility: hidden;
    color: grey;
    font-size: 0.8em;
    position: relative;
}

.multipleOptionsBtnList li .hint p {
    position: absolute;
    top: 1.2em;
    left: 1.2em;
    color: lightgrey;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    text-align: justify;
    width: 256px;
    visibility: hidden;
    clip-path: polygon(
        0 0,
        8px 4px,
        calc(100% - 4px) 4px,
        calc(100% - 4px) calc(100% - 4px),
        4px calc(100% - 4px),
        4px 8px
    );
}

.multipleOptionsBtnList li .hint:hover p {
    visibility: visible;
}

.multipleOptionsBtnList > ul > h1 {
    font-size: 1.4em;
}

.multipleOptionsBtnList > li, .multipleOptionsBtnList > ul {
    width: 100%;
    padding-block: 2px;
    padding-inline: 32px;
    border: 2px solid transparent;
}

.multipleOptionsBtnList > li:hover, .multipleOptionsBtnList > ul:hover {
    background-image: linear-gradient(
            to right,
            transparent,
            rgba(0, 0, 0, 0.2) 10%,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.2) 90%,
            transparent
    );
    border-image: linear-gradient(to right, transparent, goldenrod 40%, goldenrod 60%, transparent) 1;
}

.multipleOptionsBtnList > ul {
    display: flex;
    align-items: center;
}

.multipleOptionsBtnList > ul:hover > ul {
    display: block;
    width: 100%;
}

.multipleOptionsBtnList > ul > ul {
    display: none;
}

.multipleOptionsBtnList > ul li {
    font-size: 1.2em;
    padding-left: 8px;
    color: darkgrey;
    padding-right: 8px;
}

.multipleOptionsBtnList > ul li:hover {
    color: lightgrey;
    background-image: linear-gradient(
            to right,
            transparent,
            rgba(255, 255, 255, 0.1) 10%,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.1) 90%,
            transparent
    );
}
