@import url('https://fonts.googleapis.com/css2?family=Amarante&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Friz Quadrata;
  src: url("../assets/font/friz_quadrata_regular.ttf") format("truetype");
}

:root {
  color: lightgray;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --window-frame-size: 960px;
  --window-decor-size: 336px;

  --silver: grey;
  --cyan: #40e0d0;
  --dark-cyan: #318E84;
  --crimson: #D90505;
  --dark-grey: #333333;
  /*--dark-grey: #1E1E1E;*/

  --warm-light: rgba(203, 188, 130, 0.2);
  --light-width: 128px;

  --card-aspect-ratio: 3/4;

  --hud-w: 24vh;
  --hud-h: calc(24vh * 1 / 9);

  --bg-color: #17252F;
  --bg-1: rgba(23, 37, 47, 0.1);
  --bg-2: rgba(23, 37, 47, 0.2);
  --bg-3: rgba(23, 37, 47, 0.3);
  --bg-4: rgba(23, 37, 47, 0.4);
  --bg-5: rgba(23, 37, 47, 0.5);
  --bg-6: rgba(23, 37, 47, 0.6);
  --bg-7: rgba(23, 37, 47, 0.7);
  --bg-8: rgba(23, 37, 47, 0.8);
  --bg-9: rgba(23, 37, 47, 0.9);

  --action-color: red;
  --passive-color: royalblue;

  --light-1: #40e0d0;
  --light-2: #d5c27e;

  --darkness-1: #cf54ff;
  --darkness-2: #7526c9;

  --venom-1: #35ff0e;
  --venom-2: #8fff5a;

  --silver-border: 2px solid grey;
  --thin-silver-border: 1px solid grey;
}
