.windowContainer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding: 4px;
}

.windowInnerContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

main{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.windowDecorContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    pointer-events: none;
}

.window-decor {
    background: url("../assets/svg/window_frame.svg") fixed no-repeat;
    background-size: var(--window-frame-size) var(--window-frame-size);
    width: 100%;
    height: 100%;
}

.windowTopLeftCorner {
    @apply window-decor;
    scale: 1 1;
}

.windowTopRightCorner {
    @apply window-decor;
    scale: -1 1;
}

.windowBottomLeftCorner {
    @apply window-decor;
    scale: 1 -1;
}

.windowBottomRightCorner {
    @apply window-decor;
    scale: -1 -1;
}

