.friends-panel-container {
    position: absolute;
    right: 8px;
    top: calc(50% - 65vh / 2);
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.friends-panel {
    position: relative;
    height: 100%;
    animation: friends-panel-close 0.2s ease forwards;
    display: flex;
    align-items: center;
}

.friends-panel::after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: -16px;
    width: 200%;
    height: calc(100% + 32px);
    background-color: var(--bg-7);
    border-radius: 32px;
    --border-width: 2px;
    clip-path: polygon(
            var(--border-width) 0,
            var(--border-width) calc(50% - 24px),
            12px calc(50% - 14px),
            12px calc(50% + 14px),
            var(--border-width) calc(50% + 24px),
            var(--border-width) 100%,
            100% 100%,
            100% 0
    );
    mask-image: linear-gradient(to bottom, transparent, black 16px, black calc(100% - 16px), transparent);
}

.friends-panel-container .decorative-hex {
    width: 40px;
    font-size: 16px;
}

.friends-panel-container.friends-open .friends-panel {
    animation: friends-panel-open 0.2s ease forwards;
}

.friends-panel-frame::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 100%;
    border-radius: 4px;
    background-color: var(--silver);

    --border-w: 2px;
    --hex-inner-h: 17px;

    clip-path: polygon(
            0 0,
            var(--border-w) 0,
            var(--border-w) calc(50% - 24px),
            100% calc(50% - var(--hex-inner-h)),
            100% calc(50% + var(--hex-inner-h)),
            var(--border-w) calc(50% + 24px),
            var(--border-w) 100%,
            0 100%,
            0 calc(50% + 24px - var(--border-w) / 2),
            calc(100% - var(--border-w)) calc(50% + var(--hex-inner-h) - var(--border-w) / 2),
            calc(100% - var(--border-w)) calc(50% - var(--hex-inner-h) + var(--border-w) / 2),
            0 calc(50% - 24px + var(--border-w) / 2)
    );
}

.friends-panel-frame {
    padding-right: 8px;
    height: 100%;
}

.friends-panel .friend-avatar-container {
    position: relative;
    width: 40px;
    height: 40px;
}

.friend {
    position: relative;
    cursor: pointer;
    display: flex;
    padding: 4px;
    margin-left: 4px;
    width: 100%;
}

.friend:hover {
    background-image: linear-gradient(to right ,rgba(255, 255, 255, 0.1) 60%, transparent);
}

.friend:hover .status-title {
    display: none;
}

.friends-panel-content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.friends-panel-content ul {
    height: 100%;
    margin-block: 8px;
    overflow: scroll;
    overflow-inline: hidden;
    mask-image: linear-gradient(transparent , black 16px, black calc(100% - 16px), transparent 100%);
}

.friend h1 {
    line-height: 16px;
}

.friend .icon-btn {
    opacity: 0;
}

.friend:hover .status-title {
    opacity: 0;
}

.friend:hover .icon-btn {
    opacity: 1;
}

.friend .user-avatar-frame {
    border-width: 1px;
}

.unseen-msg-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(
            50% 0,
            100% 25%,
            100% 75%,
            50% 100%,
            0 75%,
            0 25%,
            50% 0
    );
    animation: highlight 1.2s infinite;
}

@keyframes friends-panel-open {
    0% {
        width: 0;
        opacity: 0;
    }
    10% {
        opacity: 0;
        width: 10%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

@keyframes friends-panel-close {
    0% {
        width: 100%;
    }
    50% {
        width: 50%;
    }
    90% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}

@keyframes highlight {
    0% {
        background-image: radial-gradient(circle, transparent  20%, rgba(255, 255, 255, 0.4));
    }
    10% {
        background-image: radial-gradient(circle, transparent  30%, rgba(255, 255, 255, 0.4));
    }
    20% {
        background-image: radial-gradient(circle, transparent  40%, rgba(255, 255, 255, 0.4));
    }
    30% {
        background-image: radial-gradient(circle, transparent  50%, rgba(255, 255, 255, 0.4));
    }
    40% {
        background-image: radial-gradient(circle, transparent  60%, rgba(255, 255, 255, 0.4));
    }
    50% {
        background-image: radial-gradient(circle, transparent  70%, rgba(255, 255, 255, 0.4));
    }
    60% {
        background-image: radial-gradient(circle, transparent  60%, rgba(255, 255, 255, 0.4));
    }
    70% {
        background-image: radial-gradient(circle, transparent  50%, rgba(255, 255, 255, 0.4));
    }
    80% {
        background-image: radial-gradient(circle, transparent  40%, rgba(255, 255, 255, 0.4));
    }
    90% {
        background-image: radial-gradient(circle, transparent  30%, rgba(255, 255, 255, 0.4));
    }
    100% {
        background-image: radial-gradient(circle, transparent  20%, rgba(255, 255, 255, 0.4));
    }
}

.status-title {
    position: absolute;
    left: 0;
    opacity: 1;
    font-weight: 600;
    font-size: 12px;
}

.friend-options {
    position: absolute;
    left: -8px;
    top: -4px;
    display: flex;
    gap: 4px;
}

.friend .status-indicator {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--silver);
}

.busy  {
    .status-indicator {
        background-color: orangered;
    }
    .status-title {
        color: orangered;
    }
}

.online  {
    .status-indicator {
        background-color: limegreen;
    }
    .status-title {
        color: limegreen;
    }
}

.offline  {
    .status-indicator {
        background-color: dimgrey;
    }
    .status-title {
        color: darkgrey;
    }
}

.pending  {
    .status-indicator {
        background-color: orange;
    }
    .status-title {
        color: orange;
    }

    pointer-events: none;
}