.battle-chat-container {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    margin: 1.6vw;
}

.battle-chat {
    position: relative;
    font-size: 14px;
    width: 25vw;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.battle-chat-input {
    display: flex;
    align-items: flex-end;
    padding: 0 8px 8px;
    width: 100%;
}

.battle-chat-input button {
    padding: 4px;
    scale: 1.2;
}

.battle-chat-input textarea {
    outline: none;
    color: lightgrey;
    background-color: transparent;
    margin-inline: 4px;
    padding-inline: 4px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, var(--silver) 16px, var(--silver) calc(100% - 16px), transparent) 1;
    width: 100%;
    resize: none;
}

.event-log {
    color: goldenrod;
    -webkit-text-stroke: 0.05em goldenrod;
}

.battle-chat-messages li h1 {
    -webkit-text-stroke: 0.02em lightgrey;
}

.battle-chat-messages li p{
    padding-left: 8px;
}

.battle-chat-messages li .event-log{
    padding-left: 0;
}

.battle-chat-messages li {
    margin-block: 4px;
}

.battle-chat-messages {
    padding: 8px;
    width: 100%;
    height: 25vh;
    overflow-y: scroll;
    mask-image: linear-gradient(to bottom, transparent 4px, black 8px, black calc(100% - 8px), transparent calc(100% - 4px));
}

.battle-chat .icon-btn.minimize {
    height: 12px;
    scale: 1.5;
}

.battle-chat-container .icon-btn.message {
    scale: 2;
}