.event-display {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 30vh;
    pointer-events: none;
    display: flex;
    justify-content: center;
    opacity: 0;
}

@keyframes event-display-appear {
    0% {
        opacity: 0.4;
    }
    5% {
        opacity: 0.8;
    }
    10% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    85% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.6;
    }
    95% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
}

.event-display p {
    font-size: 2em;
    text-align: center;
    width: 60vw;
    padding-block: 8px;
    padding-inline: 64px;
    background-image: linear-gradient(
        to right,
        transparent,
        var(--bg-8) 10%,
        var(--bg-9),
        var(--bg-8) 90%,
        transparent
    );
    border: 2px solid;
    border-image: linear-gradient(
        to right,
        transparent,
        goldenrod,
        transparent
    ) 1;
}

.event-display.alert p {
    background-image: linear-gradient(
            to right,
            transparent,
            rgba(100, 0, 0, 0.8) 20%,
            rgba(100, 0, 0, 0.9),
            rgba(100, 0, 0, 0.8) 80%,
            transparent
    );
}

.player-hand {
    position: relative;
    height: 30vh;
    width: 70vh;
    bottom: 2vh;
    display: flex;
    align-items: center;
    animation: spread-cards 0.5s linear forwards;
}

.player-hand-container {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
}

@keyframes spread-cards {
    0% {
        justify-content: center;
        gap: 0;
    }
    50% {
        gap: 0;
    }
    100% {

    }
}

.opponent-hand {
    @apply player-hand;
    bottom: auto;
    top: -3vh;
    scale: 0.4 0.4;
}

.opponent-hand .card-back:hover {
    scale: 1.05;
    filter: brightness(1.2);
}

.battle-interface {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1.6vw;
    display: flex;
    gap: 16px;
}

.battle-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-inline: 24vw;
    padding-block: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at center, var(--bg-8), var(--bg-4) 80%);
    backdrop-filter: blur(2px);
}

.battle-overlay {

}

.inspected-card {
    position: relative;
    height: 50vh !important;
    font-size: 4.5vh !important;
}

.card-usage-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.card-usage-options li {
    width: 100%;
    padding: 8px;
}

.card-usage-options > li {
    border-block: 2px solid transparent;
    font-size: 4vh;
    filter: drop-shadow(4px 4px 4px black);
    text-align: center;
    cursor: pointer;
}

.card-usage-options #attack-option ul {
    position: absolute;
    top: 50%;
    left: 100%;
    translate: 0 -50%;
    display: none;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.card-usage-options #attack-option:hover ul {
    display: flex;
}

.card-usage-options #attack-option li {
    width: 100%;
    padding: 4px;
    font-size: 0.8em;
}

.card-usage-options #attack-option ul li:hover {
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 90%, transparent);
}

.card-usage-options > li:hover {
    border-image: linear-gradient(to right, transparent, rgba(218, 165, 32, 0.7), transparent) 1;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) 90%, transparent);
}

.discard-overview {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 45vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.cancel-discard-overview-btn {
    position: relative;
    margin-top: 1vh;
}

.cancel-discard-overview-btn button {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    font-size: 24px;
}

.cancel-discard-overview-btn button i {
    color: goldenrod !important;
}

.discard-overview-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    height: 100vh;
    padding-block: 4vh;
    justify-content: center;
    overflow-y: scroll;
    mask-image: linear-gradient(to bottom, transparent, black 16px, black calc(100% - 16px), transparent);
}

.discard-overview .discarded-card {
    position: relative;
    height: 40vh;
    font-size: 3.6vh;
    animation: discard-overview-replace 0.1s linear forwards;
}

.redrawable-card {
    position: relative;
    height: 40vh !important;
    font-size: 3.6vh !important;
}

.sacrifice-card {
    position: relative;
    height: 28vh !important;
    font-size: 2.4vh !important;
}

.storm-btn-placeholder {
    width: 100%;
    font-size: 1.6em;
    text-align: center;
    padding-block: 4px;
    border: 1px solid;
    border-image: linear-gradient(to right, transparent, goldenrod, transparent) 1;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) 90%, transparent);
}

#stormer {
    height: 32vh !important;
    font-size: 2.8vh !important;
    /*animation: new-stormer 0.4s linear forwards;*/
}

@keyframes new-stormer {
    0% {
        position: fixed;
        top: 8vh;
        left: calc(50vw + 5vh);
        scale: 0.8
    }
    20% {
        position: fixed;
        top: 30%;
        left: 60%;
        scale: 0.85
    }
    40% {
        position: fixed;
        top: 40%;
        left: 70%;
        scale: 0.90
    }
    60% {
        position: fixed;
        top: 50%;
        left: 80%;
        scale: 0.95
    }
    80% {
        position: fixed;
        top: 60%;
        left: 90%;
    }
    100% {
    }
}

/*---Result Screen Styles---*/

.victory {
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.5)) !important;
}

.defeat {
    filter: drop-shadow(0 4px 8px darkred) !important;
    background: linear-gradient(#141414 30%, #0a0a0a 60%, black 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.draw {
    background: linear-gradient(lightgrey, grey 70%, dimgrey 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.game-result-player-statistics {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    padding-block: 32px;
    background-image: linear-gradient(
            -45deg,
            transparent 5%,
            var(--bg-9),
            rgba(255, 255, 255, 0.1),
            var(--bg-9),
            transparent 95%
    );
}

.game-result-player-statistics.loser {
    background-image: linear-gradient(
            -45deg,
            transparent 5%,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.6),
            rgb(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.4),
            transparent 95%
    );
}