.draw-pile-btn-container {
    pointer-events: auto;
    position: absolute;
    left: -10%;
    width: 120%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

.draw-pile-btn {
    width: 100%;
    text-align: center;
    padding-block: 8px;
    font-size: 1.2em;
    border-block: 1px solid;
    border-image: linear-gradient(to right, transparent, goldenrod, transparent) 1;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) 90%, transparent);
}

.draw-pile-size-indicator {
    width: 104%;
    height: 110%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.draw-pile-size-indicator div {
    width: 2.8em;
    height: 2.8em;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid darkgoldenrod;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draw-pile-size-indicator h1 {
    color: goldenrod;
    font-size: 1.6em;
}

.card-back {
    --color: grey;
    background-color: var(--color);
}

.deployed-card:hover,
.discard-pile:hover,
.draw-pile.hovered,
.draw-pile-btn:hover
{
    --color: grey;
    filter: drop-shadow(0 0 4px var(--color));
}

.light {
    --color: var(--light-1);
}
.light[data-value="alt"] {
    --color: var(--light-2);
}
.darkness {
    --color: var(--darkness-1);
}
.darkness[data-value="alt"] {
    --color: var(--darkness-2);
}
.venom {
    --color: var(--venom-1);
}
.venom[data-value="alt"] {
    --color: var(--venom-2);
}


.defender1, .supporter1, .attacker1, .vanguard2 {
    animation: advance-up 0.5s linear forwards;
}

.defender2, .supporter2, .attacker2, .vanguard1 {
    animation: advance-down 0.5s linear forwards;
}

.frontLiner1 {
    animation: to-frontline-1 0.5s linear forwards;
}

.frontLiner2 {
    animation: to-frontilne-2 0.5s linear forwards;
}

@keyframes advance-up {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {

    }
}

@keyframes advance-down {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {

    }
}

@keyframes to-frontline-1 {
    0% {
        transform: translate(200%, 100%);
    }
    25% {
        transform: translate(150%, 75%);
    }
    50% {
        transform: translate(100%, 50%);
    }
    75% {
        transform: translate(50%, 25%);
    }
    100% {

    }
}

@keyframes to-frontline-2 {
    0% {
        transform: translate(-200%, -100%);
    }
    25% {
        transform: translate(-150%, -75%);
    }
    50% {
        transform: translate(-100%, -50%);
    }
    75% {
        transform: translate(-50%, -25%);
    }
    100% {

    }
}