.board-container {
    width: 100%;
    height: 100vh;
    perspective: 64vh;
    perspective-origin: center;
    pointer-events: none;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    translate: 0 -1vh;
}

.board {
    pointer-events: auto;
    width: fit-content;
    height: fit-content;
    rotate: x 30deg;
    transform-style: preserve-3d;
    transform-origin: bottom center;
    display: grid;
    gap: 64px;
    grid-template-columns: 1fr 3fr 1fr;
    translate: 0 -8vh;
}

.war-track {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 142fr);
    grid-template-rows: repeat(3, 193fr);
}

.card-slot-placeholder {
    height: 25vh;
    aspect-ratio: var(--card-aspect-ratio);
    width: auto;
    text-align: center;
    font-size: 3vh;
    border-radius: 4%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-card-piles, .left-card-piles {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding-block: 32px;
}

.right-card-piles {
    filter: drop-shadow(-0.8vh 0.8vh 4px black);
    justify-content: flex-end;
}

.left-card-piles {
    filter: drop-shadow(0.8vh 0.8vh 4px black);
    justify-content: flex-start;
}

.card-slot .card-slot-placeholder::before, .vg .card-slot-placeholder::before {
    position: absolute;
    content: "";
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(100% 100% at center, rgba(0, 0, 0, 0.7), transparent);
}

.card-slot .card-slot-placeholder h1 {
    opacity: 0;
}

.card-slot:hover .card-slot-placeholder h1 {
    opacity: 1;
    filter: drop-shadow(0 0 4px black);
}

.discard-pile, .draw-pile {
    aspect-ratio: var(--card-aspect-ratio);
    height: 25vh;
    position: relative;
}

.draw-pile-btn-container {
    position: absolute;
    left: -20%;
    width: 140%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

.draw-pile-btn {
    width: 100%;
    text-align: center;
    padding-block: 8px;
    font-size: 1.2em;
    border-block: 1px solid;
    border-image: linear-gradient(to right, transparent, rgba(218, 165, 32, 0.7), transparent) 1;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) 90%, transparent);
}

.vanguard .card-slot-placeholder {
    box-shadow: inset 0 0 8px 2px grey;
}
.vanguard .card-slot-placeholder h1 {
    color: grey;
}

.card-back.light {
    background-color: var(--light-1);
}
.card-back.light-secondary {
    background-color: var(--light-2);
}
.card-back.darkness {
    background-color: var(--darkness-1);
}
.card-back.darkness-secondary {
    background-color: var(--darkness-2);
}
.card-back.venom {
    background-color: var(--venom-1);
}
.card-back.venom-secondary {
    background-color: var(--venom-2);
}
.card-slot:hover .card-slot-placeholder.venom-secondary::before, .card-back.venom-secondary {
    background-color: var(--venom-2);
}

.card-slot .card-slot-placeholder.light {
    box-shadow: inset 0 0 8px 2px var(--light-1);
    color: var(--light-1);
}
.card-slot .card-slot-placeholder.light-secondary {
    box-shadow: inset 0 0 8px 2px var(--light-2);
    color: var(--light-2);
}
.card-slot .card-slot-placeholder.darkness {
    box-shadow: inset 0 0 8px 2px var(--darkness-1);
    color: var(--darkness-1);
}
.card-slot .card-slot-placeholder.darkness-secondary {
    box-shadow: inset 0 0 8px 2px var(--darkness-2);
    color: var(--darkness-2);
}
.card-slot .card-slot-placeholder.venom {
    box-shadow: inset 0 0 8px 2px var(--venom-1);
    color: var(--venom-1);
}
.card-slot .card-slot-placeholder.venom-secondary {
    box-shadow: inset 0 0 8px 2px var(--venom-2);
    color: var(--venom-2);
}

.deployed-card.light:hover,
.discard-pile.light:hover,
.draw-pile.light.hovered,
.draw-pile-btn.light:hover
{
    filter: drop-shadow(0 0 4px var(--light-1));
}

.deployed-card.light-secondary:hover,
.discard-pile.light-secondary:hover,
.draw-pile.light-secondary.hovered,
.draw-pile-btn.light-secondary:hover
{
    filter: drop-shadow(0 0 4px var(--light-2));
}

.deployed-card.darkness:hover,
.discard-pile.darkness:hover,
.draw-pile.darkness.hovered,
.draw-pile-btn.darkness:hover
{
    filter: drop-shadow(0 0 4px var(--darkness-2));
}

.deployed-card.darkness-secondary:hover,
.discard-pile.darkness-secondary:hover,
.draw-pile.darkness-secondary.hovered,
.draw-pile-btn.darkness-secondary:hover
{
    filter: drop-shadow(0 0 4px var(--darkness-1));
}
.deployed-card.venom:hover,
.discard-pile.venom:hover,
.draw-pile.venom.hovered,
.draw-pile-btn.venom:hover
{
    filter: drop-shadow(0 0 4px var(--venom-1));
}

.deployed-card.venom-secondary:hover,
.discard-pile.venom-secondary:hover,
.draw-pile.venom-secondary.hovered,
.draw-pile-btn.venom-secondary:hover
{
    filter: drop-shadow(0 0 4px var(--venom-2));
}