.deckName {
    @apply gold-text;
    --color-2: color-mix(in srgb, var(--color) 80%, white);
    --color-3: color-mix(in srgb, var(--color) 60%, black);
    background-image: linear-gradient(var(--color-2), var(--color), var(--color-3) 80%) !important;

    filter:
            drop-shadow(0 0 1px var(--color))
            drop-shadow(0 2px 2px black)
            drop-shadow(0 2px 4px black);
}

.deckNameDecoration {
    width: 60%;
    height: 4px;
    border-radius: 4px;
    content: "";
    background-image: linear-gradient(
        to right,
        var(--color) 8%,
        color-mix(in srgb, var(--color) 40%, transparent) 16%,
        color-mix(in srgb, var(--color) 20%, transparent) 32%,
        transparent 80%
    );
}

main.decksAndCards {
    @apply fixed w-full h-full top-0 flex gap-4 justify-center items-center;
    padding: 32px;

    .background {
        @apply absolute w-full h-full;

        &::after {
            @apply absolute w-full h-full;
            content: "";
            background-color: black;
            box-shadow: black inset 0 0 80px 20px;
            z-index: -1;
        }

        &::before {
            @apply absolute w-full h-full;
            mask-image: url("../../assets/background/home_bg_mask.png");
            mask-size: cover;
            background-color: color-mix(in srgb, var(--color) 50%, black);
            content: "";
            box-shadow: black inset 0 0 80px 20px;
        }
    }

    & > * {
        @apply h-full;
    }

    .backBtn {
        @apply absolute top-4 left-4 z-10 text-xl;
    }

    .cardDisplay {
        @apply flex flex-col;

        & > h1 {
            @apply text-5xl w-full inline-flex items-center gap-4 deckName;

            &::after {
                @apply deckNameDecoration;
            }

            &::before {
                @apply deckNameDecoration;
                scale: -1 1;
            }
        }

        & > ul {
            @apply flex flex-wrap justify-evenly gap-4 overflow-y-scroll py-4;
            mask-image: linear-gradient(transparent, black 1rem, black calc(100% - 1rem), transparent);
            max-width: calc(90vw - 256px);
        }
    }

    .selectPanel{
        @apply w-fit h-full p-4;
        background-image: url("../../assets/background/deck_select_panel_bg.jpg");

        & > div {
            @apply flex flex-col w-fit h-full p-2.5 gap-2.5 relative rounded-md;
            box-shadow: black 0 0 8px 4px;
            background-color: var(--color);

            & > button {
                z-index: 10;
            }

            &:after {
                @apply absolute top-0 left-0 w-full h-full rounded-md pointer-events-none;
                content: "";
                background-color: black;
                mask-image: url("../../assets/background/deck_select_panel_mask.png");
                background-image: linear-gradient(black 30%, transparent);
                mask-repeat: no-repeat;
                mask-position: center 105%;
            }

            &:before {
                @apply absolute top-0 left-0 w-full h-full rounded-md pointer-events-none;
                content: "";
                background-image: linear-gradient(black 30%, transparent);
                box-shadow: black inset 0 0 10px 2px;
            }
        }
    }

    .deckButton {
        @apply flex flex-col justify-between text-left;
        --color: grey;
        width: 216px;

        &::before {
            @apply absolute w-full h-full;
            z-index: -1;
            content: "";
        }

        & > h1 {
            @apply text-2xl p-2.5 deckName;
        }

        & > div {
            @apply p-2.5 items-end;
            display: none;
            background-image: linear-gradient(transparent, black);
            height: 70%;

            & p {
                color: lightgrey;
                text-shadow: 0 0 8px black;
            }
        }
    }

    .locked {
        @apply pointer-events-none;

        .deckButton {
            &::before {
                filter: grayscale(1);
            }

            &::after {
                @apply absolute w-full h-full bg-no-repeat;
                filter: drop-shadow(0 0 4px var(--color));
                content: "";
                background-image: url("../../assets/background/lock.png");
                background-size: 28%;
                background-position: 60% 80%;
            }
        }
    }

    .selected .deckButton {
        animation: opening 0.2s linear forwards;

        & > div {
            display: flex;
        }
    }
}

.venom{
    --color: var(--venom-1) !important;
}
.deckButton.venom::before {
    background-image: url("../../assets/decks/venom.jpg");
    background-size: 120%;
    background-position: 0 -30px;
}
.light{
    --color: var(--light-1) !important;
}
.deckButton.light::before {
    background-image: url("../../assets/decks/light.jpg");
    background-size: 100%;
}
.darkness{
    --color: var(--darkness-1) !important;
}
.deckButton.darkness::before {
    background-image: url("../../assets/decks/darkness.jpg");
    background-size: 100%;
}
.bgTransition {
    animation: bgTransition 0.4s linear forwards;
}

@keyframes bgTransition {
    0% {
        background-color: black;
    }
    20% {
        background-color: color-mix(in srgb, var(--color) 20%, black);
    }
    40% {
        background-color: color-mix(in srgb, var(--color) 40%, black);
    }
    60% {
        background-color: color-mix(in srgb, var(--color) 60%, black);
    }
    80% {
        background-color: color-mix(in srgb, var(--color) 80%, black);
    }
    100% {
        background-color: var(--color);
    }
}

@keyframes opening {
    from {
        height: 52px;
    }
    to {
        height: 216px;
    }
}