main.battle {
    @apply fixed top-0 w-full h-full bg-black;

    &:before {
        @apply fixed left-1/2 top-0 h-full bg-no-repeat bg-bottom;
        translate: -50% 0;
        aspect-ratio: 16/9;
        background-image: url("../../assets/background/battle_bg.jpg");
        background-size: auto 100%;
        content: "";
        mask-image: linear-gradient(
                to right,
                transparent,
                black,
                black,
                transparent
        );
    }

    .menuOverlay {
        @apply fixed left-0 top-0 w-full h-full flex items-center justify-center z-10;
        padding-inline: 24vw;
        padding-block: 2vh;
        background-image: radial-gradient(circle at center, var(--bg-8), var(--bg-4) 80%);
        backdrop-filter: blur(2px);
    }

    .mainUi {
        @apply fixed right-0 bottom-0 flex gap-4 z-20;
        margin: 1.6vw;

        .musicControl {
            @apply flex items-end;
        }
    }
}

/*---EVENT DISPLAY---*/
.eventDisplay {
    @apply fixed z-50 w-full pointer-events-none flex justify-center opacity-0;
    top: 30vh;

    & p {
        @apply text-center py-2 px-16;
        font-size: 2em;
        width: 60vw;
        background-image: linear-gradient(
                to right,
                transparent,
                var(--bg-8) 10%,
                var(--bg-9),
                var(--bg-8) 90%,
                transparent
        );
        border: 2px solid;
        border-image: linear-gradient(
                to right,
                transparent,
                goldenrod,
                transparent
        ) 1;
    }
}

.eventDisplay.alert p {
    background-image: linear-gradient(
            to right,
            transparent,
            rgba(100, 0, 0, 0.8) 20%,
            rgba(100, 0, 0, 0.9),
            rgba(100, 0, 0, 0.8) 80%,
            transparent
    );
}


/*---HANDS---*/
.hand {
    @apply absolute left-1/2 flex items-end;
    translate: -50% 0;
}

.hand > ul {
    @apply flex items-start;
    height: 30vh;
    width: 70vh;
    animation: spread-cards 0.5s linear forwards;
}

.playerHand {
    @apply hand bottom-0;

    & > ul > li {
        @apply relative;
    }

    &:hover {
        @apply z-10;
    }
}

.opponentHand {
    @apply hand;
    top: -3vh;
    scale: 0.4;

    & > ul > li > div:hover {
        scale: 1.05;
        filter: brightness(1.2);
    }
}

@keyframes spread-cards {
    0% {
        justify-content: center;
        gap: 0;
    }
    50% {
        gap: 0;
    }
    100% {

    }
}