.textContainer {
    position: absolute;
    right: 28px;
    top: 48px;
    width: 240px;
    height: 32px;
    padding: 8px 32px 8px 8px;
    z-index: -1;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;

    clip-path: polygon(
            0 0,
            100% 0,
            calc(100% - 32px) 100%,
            0 100%
    );
}

.textContainer > h1 {
    font-size: 18px;
}

.textContainer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 10% -50%, var(--color), var(--dark-grey), var(--dark-grey), var(--crimson));

    clip-path: polygon(
            0 0,
            100% 0,
            calc(100% - 32px) 100%,
            0 100%,
            0 2px,
            2px 2px,
            2px calc(100% - 2px),
            calc(100% - 33px) calc(100% - 2px),
            calc(100% - 5px) 2px,
            0 2px
    );
}


.hud {
    @apply fixed left-0 top-0 w-fit h-fit z-40;
    margin: 2vw;
    transform-origin: top left;
    --color: grey;

    .manaPoolContainer {
        .manaPool {
            position: relative;
            padding-inline: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 360px;
            height: 40px;

            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                backdrop-filter: blur(32px);

                --w: 360px;
                --h: 40px;
                width: var(--w);
                height: var(--h);
                clip-path: polygon(
                        0 50%,
                        calc(var(--h) / 2) 0,
                        calc(var(--w) - var(--h) / 2) 0,
                        100% 50%,
                        calc(var(--w) - var(--h) / 2) 100%,
                        calc(var(--h) / 2) 100%
                );
            }

            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                background-image: radial-gradient(
                        calc(var(--w) / 2) calc(var(--w) / 4) at 30% -30%,
                        var(--color) 85%,
                        var(--dark-grey)
                );

                --w: 360px;
                --h: 40px;
                width: var(--w);
                height: calc(var(--h) * 2);
                clip-path: polygon(
                        0 calc(var(--h) / 2),
                        calc(var(--h) / 2) 0,
                        calc(var(--w) - var(--h) / 2) 0,
                        100% calc(var(--h) / 2),
                        calc(var(--w) - var(--h) / 2) var(--h),
                        calc(var(--h) * 2 + 2px) var(--h),
                        calc(var(--h) * 2 + 2px) 100%,
                        calc(var(--h) * 2) 98%,
                        calc(var(--h) * 2) var(--h),
                        calc(var(--h) / 2 + 2px) var(--h),
                        calc(var(--h) / 2 + 2px) 74%,
                        calc(var(--h) / 2) 76%,
                        calc(var(--h) / 2) var(--h),
                        0 calc(var(--h) / 2),
                        3px calc(var(--h) / 2),
                        calc(var(--h) / 2 + 1px) calc(var(--h) - 2px),
                        calc(var(--w) - var(--h) / 2 - 1px) calc(var(--h) - 2px),
                        calc(var(--w) - 3px) calc(var(--h) / 2),
                        calc(var(--w) - var(--h) / 2 - 1px) 2px,
                        calc(var(--h) / 2 + 1px) 2px,
                        3px calc(var(--h) / 2)
                );
            }

            .manaShard {
                height: 32px;
                width: 32px;
                background-image: url("../../assets/icons/mana_shard.png");
                background-size: 100% 100%;
            }
        }

        .manaPoolDecor {
            position: absolute;
            right: -11px;
            top: -4px;

            background-image: radial-gradient(
                    calc(var(--w) * 2) var(--h) at 205% 0,
                    var(--dark-grey) 70%,
                    var(--color) 90%
            );

            --w: 160px;
            --h: 60px;
            width: var(--w);
            height: var(--h);

            clip-path: polygon(
                    0 1px,
                    2px 0,
                    calc(100% - 24px - 5px) 0,
                    calc(100% - 5px) 24px,
                    calc(100% - 5px) calc(100% - 11px),
                    100% calc(100% - 6px),
                    calc(100% - 6px) 100%,
                    calc(100% - 12px) calc(100% - 6px),
                    calc(100% - 7px) calc(100% - 11px),
                    calc(100% - 7px) 25px,
                    calc(100% - 24px - 6px) 2px,
                    2px 2px
            );
        }
    }

    .healthContainer {
        position: absolute;
        right: -12px;
        top: 0;
        z-index: -1;
        display: flex;
        width: fit-content;
        flex-direction: column;
        align-items: center;

        .health {
            aspect-ratio: 1/1;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-width: 2px;
            border-image: linear-gradient(-45deg, var(--dark-grey), var(--crimson) 80%) 1;
            rotate: 45deg;

            --health: 100%;
            background-image: linear-gradient(-45deg, var(--crimson), var(--dark-grey)  var(--health));

            & > h1 {
                font-size: 26px;
                rotate: -45deg;
                filter: drop-shadow(0 0 4px black);
            }
        }

        .healthDecor {
            aspect-ratio: 1/2;
            width: 40px;
            background-image: linear-gradient(var(--dark-grey) 50%, var(--crimson) 90%);
            clip-path: polygon(
                    50% 92%,
                    calc(50% - 1px) 92%,
                    calc(50% - 1px) 50%,
                    0 25%,
                    50% 0,
                    100% 25%,
                    calc(50% + 1px) 50%,
                    calc(50% + 1px) 92%,
                    50% 92%,
                    50% calc(50% - 2px),
                    calc(100% - 3px) 25%,
                    50% 3px,
                    3px 25%,
                    50% calc(50% - 2px)
            );
        }
    }

    .usernameContainer {
        @apply textContainer;
    }

    .avatarContainer {
        position: absolute;
        z-index: -1;
        left: 10px;
        top: 48px;
        width: 72px;
        height: 72px;

        & > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid var(--dark-grey);
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -48px;
            left: -24px;

            background-image: radial-gradient(
                    50% 50% at 0 80%,
                    var(--color) 50%,
                    var(--dark-grey)
            );

            --w: 40px;
            width: calc(var(--w) + 5px);
            height: calc(var(--w) * 2);

            clip-path: polygon(
                    calc(100% - var(--w) / 2) 100%,
                    calc(100% - var(--w) / 2 + 1px) 100%,
                    calc(100% - var(--w) / 2 + 1px) 50%,
                    100% 25%,
                    calc(100% - var(--w) / 2) 0,
                    calc(100% - var(--w)) 25%,
                    5px 50%,
                    0 calc(50% + 5px),
                    6px calc(50% + 11px),
                    12px calc(50% + 5px),
                    7px 50%,
                    calc(100% - var(--w) + 2px) calc(25% + 2px),
                    calc(100% - var(--w) / 2 - 1px) 50%,
                    calc(100% - var(--w) / 2 - 1px) 100%,
                    calc(100% - var(--w) / 2) 100%,
                    calc(100% - var(--w) / 2) calc(50% - 2px),
                    8px 25%,
                    calc(100% - var(--w) / 2) 3px,
                    calc(100% - 3px) 25%,
                    calc(100% - var(--w) / 2) calc(50% - 2px),
                    calc(100% - var(--w) / 2) 100%
            );
        }
    }

    .timeContainer {
        @apply textContainer;
        top: 88px;
        right: 64px;
        width: 204px;
    }
}

.hud:last-child {
    left: auto;
    right: 0;
    transform-origin: top right;
}

.hud:last-child .hudInnerContainer{
    scale: -1 1;
}

.hud:last-child h1 {
    scale: -1 1;
}

/*-MANA-*/

.manaShard.empty {
    filter: grayscale(1) brightness(0.5) drop-shadow(0 0 4px var(--silver));
}

.manaShard.active {
    filter: drop-shadow(0 0 4px var(--cyan));
}

.manaShard.used {
    filter: brightness(0.5) contrast(2) drop-shadow(0 0 4px var(--dark-cyan));
}

@keyframes emptyToActive {
    0% {
        @apply empty;
    }
    20% {
        filter: grayscale(0.8) brightness(0.6) drop-shadow(0 0 6px var(--silver));
    }
    40% {
        filter: grayscale(0.6) brightness(0.7) drop-shadow(0 0 8px var(--silver));
    }
    60% {
        filter: grayscale(0.4) brightness(0.8) drop-shadow(0 0 8px var(--cyan));
    }
    80% {
        filter: grayscale(0.2) brightness(0.9) drop-shadow(0 0 8px var(--cyan)) drop-shadow(0 0 4px var(--cyan));
    }
    100% {
    }
}

@keyframes activeToEmpty {
    0% {
        @apply active;
    }
    20% {
        filter: grayscale(0.2) brightness(0.1) drop-shadow(0 0 6px var(--cyan));
    }
    40% {
        filter: grayscale(0.4) brightness(0.2) drop-shadow(0 0 8px var(--cyan));
    }
    60% {
        filter: grayscale(0.6) brightness(0.3) drop-shadow(0 0 8px var(--silver));
    }
    80% {
        filter: grayscale(0.8) brightness(0.4) drop-shadow(0 0 6px var(--silver));
    }
    100% {
    }
}

@keyframes activeToUsed {
    0% {
        @apply active;
    }
    20% {
        filter: brightness(0.9) contrast(1.2) drop-shadow(0 0 6px var(--cyan));
    }
    40% {
        filter: brightness(0.8) contrast(1.4) drop-shadow(0 0 8px var(--cyan));
    }
    60% {
        filter: brightness(0.7) contrast(1.6) drop-shadow(0 0 8px var(--dark-cyan));
    }
    80% {
        filter: brightness(0.6) contrast(1.8) drop-shadow(0 0 6px var(--dark-cyan));
    }
    100% {
    }
}

@keyframes usedToEmpty {
    0% {
        @apply used;
    }
    20% {
        filter: grayscale(0.2) contrast(1.8) drop-shadow(0 0 6px var(--dark-cyan));
    }
    40% {
        filter: grayscale(0.4) contrast(1.6) drop-shadow(0 0 8px var(--dark-cyan));
    }
    60% {
        filter: grayscale(0.6) contrast(1.4) drop-shadow(0 0 8px var(--silver));
    }
    80% {
        filter: grayscale(0.8) contrast(1.2) drop-shadow(0 0 6px var(--silver));
    }
    100% {
    }
}

@keyframes usedToActive {
    0% {
        @apply used;
    }
    20% {
        filter: brightness(0.6) contrast(1.8) drop-shadow(0 0 6px var(--dark-cyan));
    }
    40% {
        filter: brightness(0.7) contrast(1.6) drop-shadow(0 0 8px var(--dark-cyan));
    }
    60% {
        filter: brightness(0.8) contrast(1.4) drop-shadow(0 0 8px var(--cyan));
    }
    80% {
        filter: brightness(0.9) contrast(1.2) drop-shadow(0 0 8px var(--cyan)) drop-shadow(0 0 4px var(--cyan));
    }
    100% {
    }
}

.emptyToActive {
    animation: emptyToActive 0.4s linear forwards;
}
.activeToEmpty {
    animation: activeToEmpty 0.4s linear forwards;
}
.activeToUsed {
    animation: activeToUsed 0.4s linear forwards;
}
.usedToEmpty {
    animation: usedToEmpty 0.4s linear forwards;
}
.usedToActive {
    animation: usedToActive 0.4s linear forwards;
}


