#body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  margin-block: auto;
}

#chat-window {
  color: white;
  max-height: 170px;
  width: 200px;
}

#chat-window div {
  overflow-y: scroll;
}

#chat-window input {
  color: black;
}

span {
  color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}

input {
  background-color: white;
  width: 100%;
  color: black;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
}

input[type="button"] {
  background-color: #9f9c9c;
  padding: 5px;
  width: fit-content;
}

.input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: min-content;
  justify-content: center;
  gap: 20px;
}

li {
  color: black;
}

.card-container {
  display: flex;
  justify-content: start;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #9f9c9c;
  width: 100%;
  padding: 10px;
  height: fit-content;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.cards {
  height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cards ul {
  height: 480px;
  position: relative;
  padding: 0;
  list-style: none;
  display: flex;
}

.cards li {
  position: relative;
  width: 200px;
  height: 300px;
  background-color: #213547;
  margin: 20px;
  border-radius: 15px;
  border: 2px solid gold;
  filter: drop-shadow(5px 10px 20px black);
  transition: transform 1s ease, 1s ease; /* Smooth movement */
  transform-origin: center center; /* Set origin for scaling */
}

.card-0 {
  z-index: 3;
  transform: translate(-100px) scale(0.8); /* Left card, smaller */
  animation: left-center 0.7s linear forwards;
}

.card-1 {
  z-index: 2;
  transform: translate(0, 100px) scale(1); /* Center card, larger */
  animation: center-right 0.7s linear forwards;
}

.card-2 {
  z-index: 1;
  transform: translate(100px) scale(0.8); /* Right card, smaller */
  animation: right-left 0.7s linear forwards;
}

@keyframes left-center {
  0% {
    transform: translate(-100px, 0) scale(0.8);
  }
  50% {
    transform: translate(-15px, 75px) scale(0.9);
  }
  100% {
    transform: translate(240px, 100px) scale(1);
  }
}

@keyframes center-right {
  0% {
    transform: translate(0, 100px) scale(1);
  }
  50% {
    transform: translate(255px, 75px) scale(0.9);
  }
  100% {
    transform: translate(340px) scale(0.8);
  }
}

@keyframes right-left {
  0% {
    transform: translate(100px) scale(0.8);
  }
  50% {
    transform: translate(-240px, -20px) scale(0.7);
  }
  100% {
    transform: translate(-580px) scale(0.8);
  }
}

.cards label {
  display: inline-block;
  color: white;
  text-align: center;
  width: 100%;
}

.cards span {
  margin-inline: auto;
  padding: 0;
  transform: translate(0, 290px);
  width: 80%;
  height: 0;
  border-radius: 50px;
  background-color: transparent;
  box-shadow: 0 0 45px 20px rgba(0, 0, 0, 1);
}