.cut-corners {
    mask: radial-gradient(10px at 15px 15px, transparent 100%, black) -15px -15px;
}

.frame-container {
    width: fit-content;
    height: fit-content;
    min-height: 40px;
    min-width: 40px;
    position: relative;
    display: flex;
}

.frame-decor-container {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    min-height: 100%;
    min-width: 100%;
    background-color: transparent;
}

.corner-decor {
    background: url("assets/corner.svg") no-repeat transparent;
    width: 50%;
    height: 50%;
    position: absolute;
}

.top-right-corner {
    @apply corner-decor;
    top: 0;
    right: 0;
    transform: scaleX(-1);
}

.top-left-corner {
    @apply corner-decor;
    top: 0;
    left: 0;
}

.bottom-right-corner {
    @apply corner-decor;
    bottom: 0;
    right: 0;
    rotate: 180deg;
}

.bottom-left-corner {
    @apply corner-decor;
    bottom: 0;
    left: 0;
    transform: scaleY(-1);
}

.frame-border {
    @apply cut-corners;
    position: absolute;
    border: var(--gold-border);
    height: 100%;
    width: 100%;
}

.inner-frame-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.inner-frame {
    position: absolute;
    width: 30px;
    height: 30px;
    animation: disconnect-borders 0.2s ease forwards;
}

.top-left-inner-border {
    @apply inner-frame;
    top: 3px;
    left: 3px;
    border-top: var(--thin-gold-border);
    border-left: var(--thin-gold-border);
}

.top-right-inner-border {
    @apply inner-frame;
    top: 3px;
    right: 3px;
    border-top: var(--thin-gold-border);
    border-right: var(--thin-gold-border);
}

.bottom-left-inner-border {
    @apply inner-frame;
    bottom: 3px;
    left: 3px;
    border-bottom: var(--thin-gold-border);
    border-left: var(--thin-gold-border);
}

.bottom-right-inner-border {
    @apply inner-frame;
    bottom: 3px;
    right: 3px;
    border-bottom: var(--thin-gold-border);
    border-right: var(--thin-gold-border);
}

.frame-content {
    @apply cut-corners;
    position: relative;
    z-index: 0;
}

.gold-glow {
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 2px var(--light-gold));
}

/*----------Button----------Button----------Button----------Button----------Button----------Button----------*/

.framed-button:active {
    transform: scale(0.99);
    filter: brightness(1.2) drop-shadow(0 0 1px var(--light-gold));
}

/*.button-inner-frame {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border-top: 1px solid var(--gold);*/
/*    border-bottom: 1px solid var(--gold);*/
/*}*/

.framed-button:hover .frame-container {
    @apply gold-glow;
}

.framed-button:hover .inner-frame-container div {
    animation: connect-borders 0.4s ease forwards;
}

@keyframes connect-borders {
    from {
        width: 30px;
    }
    to {
        width: 104px;
    }
}

@keyframes disconnect-borders {
    from {
        width: 104px;
    }
    to {
        width: 30px;
    }
}

.attack {
    animation: attack 2s linear forwards;
}

@keyframes attack {
    0% {
    }
    10% {
        transform: scale(1.05) translate(0, -20px);
    }
    20% {
        transform: scale(1.1) translate(0, -40px);
    }
    30% {
        transform: scale(1.1) translate(0, -100px);
    }
    40% {
        transform: scale(1.1) translate(0, -70px);
        filter: drop-shadow(0 0 10px darkred);
    }
    50% {
        transform: scale(1.1) translate(0, -250px);
        filter: drop-shadow(0 0 20px darkred);
    }
    60% {
        transform: scale(1.1) translate(0, -250px);
        filter: drop-shadow(0 0 30px darkred);
    }
    70% {
        transform: scale(1.1) translate(0, -250px);
        filter: drop-shadow(0 0 20px darkred);
    }
    80% {
        transform: scale(1.05) translate(500px, -75px);
    }
    90% {
        transform: translate(1000px, 50px);
    }
    100% {
        transform: translate(100vw, 100vh);
    }
}